<html lang="zh-cn">


<body class="welcome welcome-index">
  <div id="qz-wrapper">
  <div class="lp-section-1">
  <div class="content-1">
    <h2>新年创新意，请重新认识工作的定义</h2>
    <p>我们随时为你提供帮助</p>
    <div>
      <div>
        <a class="action-btn" href="/jobs">立刻应征</a>
      </div>
    </div>
  </div>
</div>

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们重新定义工作</h2>
    <p>蜗壳招聘网，是一个将兴趣和专业技能相结合的网站。工作 == 兴趣，我们不在为老板打工，不在做机器人能做的事情，我们只为自己的成长服务。
      <br>
      我们将通过公司内提供为期一年的试用期，结合学习学习再学习的体验方案，为未来培养出能够快速贯通专业技能并灵活实践的现代人。</p>
    <div class="container1">

  <div class="canvas canvas1">
    <div class="spinner1 spinnerMax">
      <div class="spinner1 spinnerMid">
        <div class="spinner1 spinnerMin"></div>
      </div>
    </div>
  </div>

  <div class="canvas canvas2">
    <div class="spinner2"></div>
    <div class="hourHand"></div>
    <div class="dot"></div>
  </div>

  <div class="canvas canvas3">
    <div class="spinner3"></div>
  </div>
</div>
  </div>
</div>

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>人人可学并通过实践寻找到兴趣的招聘平台</h2>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
      <br>
      <h3>教材简明易懂</h3>
      <p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature2.png">
      <br>
      <h3>职业辅导人员全程指导</h3>
      <p>学习专业技能最大的困难就是遇到 Bug 不会解，我们配备了职业程序员，帮你排除学习中遇到的任何问题。</p>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature3.png">
      <br>
      <h3>业界大神倾心分享</h3>
      <p>业界大牛与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>
    </div>
  </div>
</div>

      <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-from-dom-label" aria-hidden="true">

</div>

    </div>
</html>
