<html lang="zh-cn">


<body class="welcome welcome-index">
  <div id="qz-wrapper">
  <div class="lp-section-1">
  <div class="content-1">
    <h2>脱胎换骨成为下一个想要的自己</h2>
    <p>七年就是一辈子，一年就能蜕变成能够编织自己未来旅程的全栈工程师</p>
    <div>
      <div>
        <a class="action-btn" href="/jobs">立刻应征</a>
      </div>
    </div>
  </div>
</div>

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们重新定义编程教育</h2>
    <p>
      新生大学线上全栈营由两岸知名的 Rails 教练郑伊廷、天使投资人李笑来共同主持。我们以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。
    </p>
    <img src="https://fullstack.xinshengdaxue.com/images/lp-2.jpg">
  </div>
</div>

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>人人可学的在线编程教育平台</h2>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
      <br>
      <h3>教材简明易懂</h3>
      <p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature2.png">
      <br>
      <h3>职业程序员全程指导</h3>
      <p>学习编程最大的困难就是遇到 Bug 不会解，我们配备了职业程序员，帮你排除学习中遇到的任何问题。</p>
    </div>
    <div class="feature-block">
      <img src="https://fullstack.xinshengdaxue.com/images/feature3.png">
      <br>
      <h3>业界大神倾心分享</h3>
      <p>Hackathon 冠军 Xdite 与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>
    </div>
  </div>
</div>

      <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-from-dom-label" aria-hidden="true">

</div>

    </div>
</html>
