/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";




/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-default {
    background-color: #3d3d3d;
    border: none;
    border-radius: 0;
}
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-top: 21px;
}

.navbar-container {
    padding: 0 5px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-brand {
    color: #fff;
    float: left;
    padding-top: 17px;
    padding-left: 0;
    padding-right: 0;
    font-size: 28px;
    height: 60px;
    margin-right: 30px;
}
.logo-icon {
    padding-right: 2px;
    color: #1ecd97;
}
.fa-envira:before {
    content: "\f299";
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    overflow: hidden;
}
.navbar-default .navbar-link {
    color: #777;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-top: 21px;
}


.lp-section-1 {
    display: block;
    background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url('http://images.apple.com/hk/made-in-chinese-new-year/images/overview/wallpaper/wallpaper_mbp_lucky-rooster_large.jpg');
    background-position: center 80%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    height: 500px;
    position: relative;
}
.lp-section-1 .content-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 320px;
    height: 500px;
    position: relative;
    text-align: center;
    padding-top: 180px;
}
.lp-section-1 .content-1 h2 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
}
.lp-section-1 .content-1 p {
    font-size: 16px;
    line-height: 1.6em;
    color: #f2f2f2;
    margin: 20px 0 100px;
    letter-spacing: 0.15em;
}
.action-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0 auto;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    text-align: center;
    font-size: 1.428em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0.57em 1.9em;
    margin-top: 2.85em;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 2px;
    color: white;
    background: #1ecd97;
    border: 2px solid #1ecd97;
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),color 0.3s cubic-bezier(0, 0, 0, 0),width 0.3s cubic-bezier(0, 0, 0, 0),border-width 0.3s cubic-bezier(0, 0, 0, 0),border-color 0.3s cubic-bezier(0, 0, 0, 0);
}
.lp-section-2 {
    background-color: #f2f2f2;
    height: 550px;
}
.lp-section-2 .content-2 {
    padding-top: 50px;
    margin: 0 auto;
    width: 690px;
    text-align: center;
}
.short-line {
    display: block;
    background: #1ecd97;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 53;
    width: 50px;
    height: 3px;
    position: relative;
}
.lp-section-2 .content-2 h2 {
    font-size: 1.428em;
    padding-bottom: 20px;
    letter-spacing: 3px;
}
.lp-section-2 .content-2 img {
    margin-top: 50px;
    width: 660px;
    height: auto;
}
.lp-section-2 .content-2 p {
    line-height: 34px;
    color: #666;
    padding: 0 50px;
    text-align: center;
}
.lp-section-3 {
    display: block;
    width: 100%;
    height: 550px;
    min-width: 960px;
    background: #fff;
    background-position: center top;
    background-size: cover;
}
.lp-section-3 .content-3 {
    display: block;
    width: 960px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
.lp-section-3 .feature-title {
    margin-bottom: 50px;
    letter-spacing: 3px;
}
.short-line {
    display: block;
    background: #1ecd97;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 53;
    width: 50px;
    height: 3px;
    position: relative;
}
.lp-section-3 .feature-title h2 {
    font-size: 1.428em;
}
.lp-section-3 .content-3 .feature-block {
    display: block;
    border-style: none;
    border-radius: 0;
    width: 290px;
    position: relative;
    margin: 20px 15px 0;
    float: left;
}
.lp-section-3 .content-3 .feature-block img {
    width: 80px;
    height: 80px;
}
.lp-section-3 .content-3 .feature-block h3 {
    font-size: 1.2em;
    line-height: 28px;
    margin-top: 20px;
    color: #333;
}
.lp-section-3 .content-3 .feature-block p {
    line-height: 24px;
    width: 260px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1em;
    color: #666;
    text-align: center;
}
