// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Unica+One');

/*Colors*/

$beam: #e9fef6;
$sky-dark: hsl(190,
40%,
60%);
$sky-bright: hsl(190,
80%,
90%);
$ocean-deep: #306b98;
$ocean-shallow: #9fc2ca;
$ocean-surface: hsl(190,
60%,
80%);

/*Gradients and Fills */




/*Light Beams*/

@keyframes beams {
  100% {
    opacity: 0.8
  }
}


/*Waves-Movements*/

.wave {
  animation: waves-move 5s infinite linear;
  animation-fill-mode: backwards;
}

.reverse {
  animation-direction: reverse;
}

@keyframes waves-move {
  100% {
    transform: translate(500px, 0);
  }
}





/*Body Setup*/

$hue: 40;


.title {
  height: 10vh;
  line-height: 3vh;
  font-size: 1.5vh;


  color: hsl($hue, 40%, 30%);
  border-top: 1px solid;

  font-family: 'Unica One', cursive;
  text-align: center;
}

.world {
  width: 20vw;
  height: 25vh;
  vertical-align: bottom;
}









$hue:65;
$offset : 75px;
$step: -90px;

@import url('https://fonts.googleapis.com/css?family=Unica+One');




.grow{
  width: 50vw;
  height: 25vh;
  vertical-align: bottom;
  text-align: center;
}

// Leafs Positions and Animation

@keyframes leaf {
  0%{
    transform: translate(0px,0px) rotate(0deg) scale(0.75);
    opacity: 0;
  }
}

.f1, .f2, .f3, .f4{
  transform-origin: 0 -100px;
  animation: leaf 4s infinite alternate;
  animation-fill-mode: backwards;
  animation-delay:1s;
}

@for $i from 0 through 2{
  .f#{$i+1}{
    transform: translate($offset * -1,$i * $step) rotate(-45deg);
    fill: hsl($hue, 40% + $i * 10%, 40% + $i * 10%);
    &.right{
      transform: translate($offset ,$i * $step) rotate(45deg);
    }
  }
}

.f4{
  transform: translate(0,$step * 3) rotate(0);
  fill: hsl($hue, 70%, 70%);
}
