// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Unica+One');

/*Colors*/

$beam: #e9fef6;
$sky-dark: hsl(190,
40%,
60%);
$sky-bright: hsl(190,
80%,
90%);
$ocean-deep: #306b98;
$ocean-shallow: #9fc2ca;
$ocean-surface: hsl(190,
60%,
80%);

/*Gradients and Fills */

.sky-bright {
  stop-color: $sky-bright
}

.sky-dark {
  stop-color: $sky-dark
}

.beam-gradient {
  stop-color: $beam
}

.ocean-surface {
  fill: $ocean-surface
}

.ocean-shallow {
  stop-color: $ocean-shallow
}

.ocean-deep {
  stop-color: $ocean-deep
}

.ice {
  fill: #f6f6ff
}

.ice-dark {
  fill: #d7eef2
}

.ice-shade {
  fill: #e8f7f9
}


/*Light Beams*/

@keyframes beams {
  100% {
    opacity: 0.8
  }
}

.beam {
  opacity: 0;
  animation: beams 4s both infinite alternate;
  @for $i from 1 through 14 {
    &:nth-child(#{$i}) {
      animation-delay: -2s * $i;
    }
  }
}

/*Waves-Movements*/

.wave {
  animation: waves-move 5s infinite linear;
  animation-fill-mode: backwards;
}

.reverse {
  animation-direction: reverse;
}

@keyframes waves-move {
  100% {
    transform: translate(500px, 0);
  }
}


/*Ice Berg Animation*/

.ice-berg {
  transform: rotate(-2deg) translate(0, 0);
  transform-origin: 400px 400px;
  animation: ice-berg 3s ease-in-out infinite alternate;
}

@keyframes ice-berg {
  100% {
    transform: rotate(2deg) translate(10px, 30px)
  }
}


/*Body Setup*/

$hue: 40;
body {
  background: hsl($hue, 50%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  height: 10vh;
  line-height: 3vh;
  font-size: 1.5vh;
  padding-top: 2.5vh;
  margin: 0;
  color: hsl($hue, 40%, 30%);
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-family: 'Unica One', cursive;
}

.world {
  width: 20vw;
  height: 25vh;
  vertical-align: bottom;
}









$hue:65;
$offset : 75px;
$step: -90px;

@import url('https://fonts.googleapis.com/css?family=Unica+One');

body{
  background: hsl($hue, 50%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}



.grow{
  width: 50vw;
  height: 25vh;
  vertical-align: bottom;
}

// Leafs Positions and Animation

@keyframes leaf {
  0%{
    transform: translate(0px,0px) rotate(0deg) scale(0.75);
    opacity: 0;
  }
}

.f1, .f2, .f3, .f4{
  transform-origin: 0 -100px;
  animation: leaf 4s infinite alternate;
  animation-fill-mode: backwards;
  animation-delay:1s;
}

@for $i from 0 through 2{
  .f#{$i+1}{
    transform: translate($offset * -1,$i * $step) rotate(-45deg);
    fill: hsl($hue, 40% + $i * 10%, 40% + $i * 10%);
    &.right{
      transform: translate($offset ,$i * $step) rotate(45deg);
    }
  }
}

.f4{
  transform: translate(0,$step * 3) rotate(0);
  fill: hsl($hue, 70%, 70%);
}
